.circle{
	height: 100%;
	width: 100%;
	border-radius: 1000%;
	border:1px solid grey;
	position: absolute;
	top:100px;
	right: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 1s;
}
body{
	background: linear-gradient(to bottom, white, grey);
}
.circle-container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}

